body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: grey;
    /*Añadido mío*/
    background-image: url(assets/bg-film.png);
}

header {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
    /*Añadido mío*/
    background-image: url(assets/header.png);
}

/*Para centrar el último botón cambiacolor*/
main {
    display: flex;
    flex-direction: column;
}

/*Continuación código examen*/
#peliculasLista {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    text-align: center;
}

.peliculaItem {
    border-radius: 5 px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 10px;
    background-color: white;
    margin: 10px;
    /*Añadido mío*/
    /* font-weight: bold; */
    font-size: 1.5em;
}

.peliculaItem > button {
    padding: 5px 10px;
    cursor: pointer;
    border-radius: 3 px;
    background-color: red;
    color: white;
    border: none;
    /*Añadido mío*/
    border-radius: 5px;
}

.peliculaItem > button:hover {
    background-color: rgb(141, 0, 0);
}

/* Añadido propio para personalizar las imágenes */
.peliculaItem > img {
    width: 150px;
    height: auto;
    border: solid 1.5px red;
    border-radius: 10px;
    box-shadow: 2px 2px 20px black;
}

/*CREACIÓN CLASE -> BOTON CAMBIACOLOR*/
.btn-changeColor {
    margin: 20px;
    padding: 20px;
    cursor: pointer;
    border-radius: 3 px;
    background-color: black;
    color: white;
    border: none;
    font-weight: bold;
    border-radius: 5px;
}